<!DOCTYPE html>
<html lang="ru">
    <head>
        <meta charset="UTF-8">
        <title>Форма регистрации</title>
        <link rel="stylesheet" href="/css/form.css">
    </head>
    <body>
        <form id="registration-form" method="post" action="registration" class="form">
            <div class="form-row">
                <span class="form-title">Регистрации</span>
            </div>
            <div class="form-row">
                <label class="form-group">
                    <span class="form-hint">Введите ваше имя</span>
                    <input name="username" type="text" class="field" required>
                </label>
            </div>
            <div class="form-row">
                <label class="form-group">
                    <span class="form-hint">Введите вашу почту</span>
                    <input name="email" type="email" class="field" required>
                </label>
            </div>
            <div class="form-row">
                <label class="form-group">
                    <span class="form-hint">Придумайте пароль</span>
                    <input name="password" type="password" min="6" max="10" class="field" required>
                </label>
            </div>
            <div class="form-row">
                <label class="form-group">
                    <span class="form-hint">Повторите пароль</span>
                    <input name="passwordAgain" type="password" min="6" max="10" class="field" required>
                </label>
            </div>
            <div class="form-row">
                <label class="form-group">
                    <span class="form-hint">Уже есть учётная запись?<a href="/auth/login" class="form-ref">Войти</a></span>
                </label>
            </div>
            <div class="form-row">
                <button name="registration_button" type="submit" class="form-button">Отправить</button>
            </div>
        </form>
    </body>
</html>